/*-------------------------------------
		1.General css (Reset code)
--------------------------------------*/

* {
  padding: 0px;
  margin: 0px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #676a81;
  background: #fff;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}

a {
  /* display: inline-block; */
  text-decoration: none;
  color: #6a708e;
  font-size: 16px;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #43485c;
  font-size: 16px;

  text-transform: capitalize;
}

p {
  margin: 0;
  line-height: 1.8;
  color: #43485c;
  font-size: 14px;
}
img {
  border: none;
  max-width: 100%;
  height: auto;
}

/* nabar customization */

.navbar-margin {
  margin: 0px;
  padding: 0px;
}

.nav-img {
  max-width: 110px;
  width: 100%;
}

.nav-item a {
  /* font-size: 16px; */
  margin-left: 20px;
  /* letter-spacing: 1px; */
  font-weight: 400;
  text-transform: uppercase;
  transition: 0.3s linear;
  color: #6f6f6f;
}

/* section 1 start */
.sec-1 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../images/about/welcome-banner.jpg);
  background-size: cover;
  padding: 176px 0px;
}
.header-text h2 {
  color: #fff;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5;
}

.header-text p {
  color: #fff;
  font-size: 35px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 30px auto 60px;
  letter-spacing: 1px;
  border: 1px solid #fff;
  max-width: 500px;
}

.header-text a {
  display: inline-block;
  width: 200px;
  height: 60px;
  line-height: 60px;
  border-radius: 3px;
  text-transform: capitalize;
  color: #fff;
  background: black;
  border: 1px solid black;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

  transition: 0.3s linear;
}

.header-text a {
  text-decoration: none;
}

.header-text a:hover {
  color: black;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
  background: white;
  border: 1px solid white;
}

/* section 2 start */

.sec-2 > div {
  margin-top: 72px;
}

.sec-2 h2 {
  font-size: 45px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 50px;
  border-bottom: 1px solid #e5ebf2;
  margin-top: 48px;
}

.single-about-img {
  position: absolute;
  max-width: 500px;
  width: 100%;
  display: contents;
}

.profile-img-icons {
  position: relative;
  left: 0px;
  bottom: 74px;
  background-color: black;
  padding: 25px 0px 25px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-img-icons a {
  position: relative;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  border: 2px solid;
  /* margin-left: 20px; */
  border-radius: 8px;
  width: 30px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  margin-right: 12px;
}

.about-me-left h3 {
  font-size: 18px;
  color: #3c4258;
  text-transform: initial;
  line-height: 1.8;
}

.about-me-left p {
  font-size: 16px;
  color: #999fb3;
  padding: 35px 0 43px;
  border-bottom: 1px solid #999fb3;
}

.single-about-add-info {
  margin: 35px 0;
}

.single-about-add-info h3 {
  color: #636a82;
  font-size: 16px;
  text-transform: capitalize;
}

.single-about-add-info p {
  font-weight: 300;
  border: 0;
  padding: 0;
  margin-top: 3px;
}

/* section 3 start */

.sec-3 {
  background: #f9fbfd;
  padding-top: 50px;
}

.sec-3 > h2 {
  font-size: 45px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 50px;
  border-bottom: 1px solid #e5ebf2;
  margin-top: 48px;
}

.experience-time h2 {
  font-weight: 400;
}

.experience-time h3 {
  font-size: 16px;
  font-weight: 300;
  color: #636a82;
  margin-top: 14px;
}

.education-boxes div {
  padding: 0px;
}

.timeline-horizontal-border {
  display: flex;
  padding: 26px 0 30px;
  align-items: center;
  margin: 33px 0px;
}

.timeline-horizontal-border i {
  font-size: 10px;
  color: black;
  margin-right: 5px;
}

/* .single-timeline-horizontal {
  border: 1px solid grey;
  width: 100%;
} */

.single-timeline-horizontal {
  display: inline-block;
  background: #b2c1ce;
  height: 1px;
  width: 360px;
}

.single-horizontal-timeline {
  padding: 0px;
}

.timeline-content h4.title {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.timeline-content h5 {
  margin: 15px 0;
}
.timeline-content h5 {
  color: #636a82;
  font-size: 14px;
  font-weight: 300;
  margin: 18px 0 20px;
}

.education-boxes {
  padding: 80px 0;
}

/* section 4 start */

.sec-4 h2 {
  font-size: 45px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 50px;
  border-bottom: 1px solid #e5ebf2;
  margin-top: 48px;
}

.portfolio-items {
  padding: 100px 0;
}

.boxes {
  position: relative;
  margin-bottom: 26px;
  overflow: hidden;
}

.boxes > img {
  width: 551px;

  transition: transform 0.5s ease;
}

.boxes > img :hover {
  transform: scale(1.5);
}

.isotope-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s all ease-in-out;
  transform: scale(1);
}

.isotope-overlay:hover {
  opacity: 1;
}

.isotope-overlay a {
  text-decoration: none;
  color: white;
}

/* section 5 start */

.sec-5 h2 {
  font-size: 45px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 50px;
  border-bottom: 1px solid #e5ebf2;
  margin-top: 48px;
}

/* footer start */

footer {
  width: 100%;
  background-color: #3c4258;
  padding: 40px 0px;
  text-align: center;
  margin-top: 100px;
}

footer p {
  color: white;
}

/* section carousel  */
.item {
  width: 50px;
}

/* bottom to top button */
#button {
  display: inline-block;
  background-color: black;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #3c4258;
}
#button:active {
  background-color: #3c4258;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/* Styles for the content section */

.content {
  width: 77%;
  margin: 50px auto;
  font-family: "Merriweather", serif;
  font-size: 17px;
  color: #6c767a;
  line-height: 1.9;
}
@media (min-width: 500px) {
  .content {
    width: 43%;
  }
  #button {
    margin: 30px;
  }
}
.content h1 {
  margin-bottom: -10px;
  color: #03a9f4;
  line-height: 1.5;
}
.content h3 {
  font-style: italic;
  color: #96a2a7;
}
